<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team5.projrental.product.ProductMapper">


    <!--    -->
    <!--    for test-->
    <select id="getIStatus">
        select istatus from t_product where iproduct = #{iproduct}
    </select>
    <!--    -->
    <!--    -->

    <!--    -->
    <!--    for test-->
    <select id="getViewForTest">
        select view from t_product where iproduct = #{iproduct}
    </select>
    <!--    -->
    <!--    for test-->
    <select id="getPicsCountForTest">
        select count(*) from t_pics where iproduct = #{iproduct}
    </select>
    <!--    -->
    <!--    -->
    <!--    -->
    <!--    for test-->
    <select id="getAllIpics">
        select ipics from t_pics where iproduct = #{iproduct}
    </select>
    <!--    -->
    <!--    -->


    <!--    -->
    <select id="getRentalPricePerDay">
        select rental_price from t_product where iproduct = #{iproduct}
    </select>
    <!--    -->


    <!--    -->
    <select id="checkIuser">
        select count(iuser) from t_user where iuser = #{iuser}
    </select>

    <select id="checkIproduct">
        select count(iproduct) from t_product where iproduct = #{iproduct}
    </select>

    <!--    -->

    <!--    -->
    <update id="countView">
        <selectKey keyProperty="beforeView" resultType="java.lang.Integer" order="BEFORE">
            select view from t_product where iproduct = #{iproduct}
        </selectKey>
        update t_product set view = 1 + #{beforeView} where iproduct = #{iproduct}
    </update>
    <!--    -->


    <select id="getProductList">
        select U.iuser, U.nick, U.stored_pic as userStoredPic,
        P.iproduct, concat(P.addr, ' ', P.rest_addr) as addr, P.title, P.stored_pic as prodMainStoredPic,
        P.rental_price as rentalPrice,
        P.rental_start_date as rentalStartDate, P.rental_end_date as rentalEndDate, COUNT(L.iproduct) as prodLike, P.istatus
        <if test="iuser != null">
            , C.category
        </if>
        <if test="sort == 1">
            , (select count(L.iproduct) from t_like L where L.iproduct = P.iproduct) as prodLike
        </if>
        from t_product P
        join t_user U on P.iuser = U.iuser
        left join t_like L on P.iproduct = L.iproduct
        <if test="iuser != null">
            join t_category C on P.icategory = C.icategory
        </if>
        <where>
            P.istatus = 0
            <if test="icategory != null and icategory != 0">
                and P.icategory = #{icategory}
            </if>
            <if test="search != null">
                and P.title like concat('%', #{search}, '%')
            </if>
            <if test="iuser != null">
                and P.iuser = #{iuser}
            </if>
        </where>
        group by P.iproduct
        <if test="sort == 2">
            order by P.view desc
        </if>
        <if test="sort == 1">
            order by prodLike desc
        </if>
        <if test="sort == null">
            order by P.iproduct desc
        </if>
        <if test="page != null and page != 0 and prodPerPage != null and prodPerPage != 0">
            limit #{page}, #{prodPerPage}
        </if>


    </select>

    <select id="getProduct">
        select U.iuser, U.nick, U.stored_pic as userStoredPic,
        P.iproduct, concat(P.addr, ' ', P.rest_addr) as addr, P.title, P.stored_pic as
        prodMainStoredPic,
        P.rental_price as rentalPrice, P.rental_start_date as rentalStartDate,
        P.rental_end_date as rentalEndDate, COUNT(L.iproduct) as prodLike, P.istatus,
        P.contents, P.deposit, P.buy_date as buyDate, P.x, P.y,
        if(count(L.iuser) = 0, 0, 1) as isLiked
        from t_product P
        join t_user U on P.iuser = U.iuser
        left join t_like L on P.iproduct = L.iproduct and L.iuser = #{iuser}
        <where>
            P.iproduct = #{iproduct} and
            P.istatus = 0 and
            P.icategory = #{icategory}
        </where>

    </select>

    <select id="getProdEctPics">
        select ipics, stored_pic as prodStoredPic from t_pics
        where iproduct = #{iproduct}
    </select>

    <!--    <select id="getIEupmyun">-->
    <!--        select ieupmyun from t_eupmyun where eupmyun in (-->
    <!--        <foreach collection="eupmyun" item="eup" separator=", ">-->
    <!--            #{eup}-->
    <!--        </foreach>-->
    <!--        )-->
    <!--    </select>-->

    <insert id="insProduct" useGeneratedKeys="true" keyProperty="iproduct">
        insert into t_product
        (iuser, title, contents, addr, rest_addr,
        price, rental_price, deposit, buy_date, rental_start_date, rental_end_date, icategory, x, y)
        values
        (#{iuser}, #{title}, #{contents}, #{addr}, #{restAddr},
        #{price}, #{rentalPrice}, #{deposit}, #{buyDate}, #{rentalStartDate}, #{rentalEndDate}, #{icategory}, #{x}, #{y})
    </insert>

    <insert id="insPics">
        insert into t_pics (iproduct, stored_pic)
        values
        <foreach collection="pics" item="pic" separator=", ">
            (#{iproduct}, #{pic})
        </foreach>

    </insert>

    <delete id="deletePic">
        delete from t_pics
        <where>
            iproduct = #{iproduct} and ipics in (
            <foreach collection="delPics" item="pic" separator=", ">
                #{pic}
            </foreach>
            )
        </where>
    </delete>

    <select id="getProductForUpdate">
        select price, deposit, buy_date as buyDate, rental_start_date as rentalStartDate,
        rental_end_date as rentalEndDate
        from t_product
        where iproduct = #{iproduct} and icategory = #{icategory} and istatus = 0

    </select>

    <select id="getPicCount">
        select count(iproduct) from t_pics where iproduct = #{iproduct}
    </select>

    <update id="updateProduct">
        update t_product
        <set>
            <if test="icategory != null">
                icategory = #{icategory}
            </if>
            <if test="addr != null">
                , addr = #{addr}
            </if>
            <if test="restAddr != null">
                , rest_addr = #{restAddr}
            </if>
            <if test="title != null">
                , title = #{title}
            </if>
            <if test="contents != null">
                , contents = #{contents}
            </if>
            <if test="storedMainPic != null">
                , stored_pic = #{storedMainPic}
            </if>
            <if test="price != null">
                , price = #{price}
            </if>
            <if test="rentalPrice != null">
                , rental_price = #{rentalPrice}
            </if>
            <if test="deposit != null">
                , deposit = #{deposit}
            </if>
            <if test="buyDate != null">
                , buy_date = #{buyDate}
            </if>
            <if test="rentalStartDate != null">
                , rental_start_date = #{rentalStartDate}
            </if>
            <if test="rentalEndDate != null">
                , rental_end_date = #{rentalEndDate}
            </if>
            <if test="x != null">
                , x = #{x}
            </if>
            <if test="y != null">
                , y = #{y}
            </if>
        </set>
        where iproduct = #{iproduct} and iuser = #{iuser}

    </update>

    <!--


        삭제를 거래중이면 불가능하게? -> 별로인듯 함 그냥 -1 처리 해 두기만 하면 판매자 정보를 join 으로 조회할 수 있음.

        div * -1
        -1 -> -1이 아닌곳을 -1 로
        -2 -> 0인 곳을 -2 로 update
        결과가 0 이면 -> 잘못된 정보 기입됨. ex 발생.
    -->
    <update id="changeProdStatus">
        update t_product
        set istatus = #{div}
        where iproduct = #{iproduct} and iuser = #{iuser} and istatus
        <if test="div == -1">
            != #{div}
        </if>
        <if test="div == -2">
            = 0
        </if>
    </update>

    <update id="updateIpayment">
        update t_product set ipayment = #{ipayment} where iproduct = #{iproduct}
    </update>

    <select id="getReview">
        select R.ireview, R.contents, R.rating, U.nick, U.stored_pic
        from t_product_payment PP
        JOIN t_payment PA ON PP.ipayment = PA.ipayment
        JOIN t_review R ON PA.ipayment = R.ipayment
        JOIN t_user U ON U.iuser = R.ibuyer
        where PP.iproduct = #{iproduct} and PA.istatus != -1 and PA.istatus != -2
            and R.contents is not null and R.rating is not null
        <if test="page != null and prodPerPage != null">
        limit #{page}, #{prodPerPage}
        </if>
    </select>

    <select id="getLendStartDateAndEndDate">
        SELECT PA.rental_start_date as rentalStartDate, PA.rental_end_date as rentalEndDate FROM t_product_payment PP
        JOIN t_payment PA ON PP.ipayment = PA.ipayment
        WHERE PP.iproduct = #{iproduct}
    </select>


</mapper>