<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team5.projrental.payment.review.PaymentReviewMapper">

    <insert id="insReview">
        INSERT INTO t_review
        set
        iuser = #{iuser}
        ,ipayment = #{ipayment}
        , contents = #{contents}
        , rating = #{rating}
    </insert>
    <!--selUpProIs: insert를 하고 난후 select가 2개일때 상태를 변경-->
    <select id="selUpProIs">
        SELECT COUNT(ireview)
        FROM t_review
        WHERE ipayment = #{ipayment}
    </select>

    <update id="upProductIstatus">
        update t_product pr
        JOIN t_product_payment pp
        ON pp.iproduct = pr.iproduct
        JOIN t_payment pa
        ON pa.ipayment = pp.ipayment
        set pa.istatus = 1
        WHERE pa.ipayment = #{ipayment}
    </update>

    <update id="upReview">
        update t_review
        set
        contents = #{contents}
        ,rating = #{rating}
        where ireview = #{ireview}
    </update>

    <update id="delReview">
        update t_review r
        JOIN t_payment p
        ON r.ipayment = p.ipayment
        SET r.contents = null
        , r.rating = null
        WHERE r.ireview = #{ireview}
        AND p.istatus = #{istatus}
    </update>

    <select id="selReIstatus">
        SELECT istatus
        FROM t_payment
        WHERE ipayment = #{ipayment}
    </select>

    <select id="selReview">
        SELECT COUNT(ireview)
        FROM t_review
        WHERE iuser = #{iuser} and
        ipayment = #{ipayment}
    </select>
<!--결제의 구매자와바이어인지 / 구매자인지 바이어인지 1이면 구매자 1이면 0판매자 -->
    <select id="selBuyRew">
        select count(PA.ipayment) as isExists, if(PA.ibuyer = #{iuser}, 1, 0) as isBuyer
        from t_product_payment PP
        join t_product P on PP.iproduct = P.iproduct
        join t_payment PA on PP.ipayment = PA.ipayment and PA.ipayment = #{ipayment}
        where P.iuser = #{iuser} or PA.ibuyer = #{iuser}
    </select>

    <select id="selPatchRev">
        select iuser, ipayment
        FROM t_review
        WHERE ireview = #{ireview}
    </select>

    <!--평균 별점올리기-->

    <select id="selUser">
        SELECT P.iuser
        FROM t_product P
        JOIN t_product_payment PA ON P.iproduct = PA.iproduct
        WHERE PA.ipayment = #{ipayment}
    </select>

    <select id="selRat">
        SELECT COUNT(R.ireview) as countIre, U.rating
        from t_product P
        JOIN t_product_payment PP ON P.iproduct = PP.iproduct
        JOIN t_review R ON R.ipayment = PP.ipayment
        JOIN t_user U ON U.iuser = P.iuser AND R.`contents` IS NOT NULL AND  R.rating IS NOT NULL
        WHERE P.iuser = #{iuser}
    </select>

    <update id="upRating">
        update t_user
        set rating = #{rating}
        where iuser = #{iuser}
    </update>


</mapper>