<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team5.projrental.payment.review.PaymentReviewMapper">

    <insert id="insReview">
        INSERT INTO review
        set
        iusers = #{iuser}
        ,ipayment = #{ipayment}
        , contents = #{contents}
        , rating = #{rating}
    </insert>
    <!--selUpProIs: insert를 하고 난후 select가 2개일때 상태를 변경-->
    <select id="selUpProIs">
        SELECT COUNT(ireview)
        FROM review
        WHERE ipayment = #{ipayment}
    </select>

    <update id="upProductIstatus">
        <!--        update product pr-->
        <!--        JOIN producpayment pp-->
        <!--        ON pp.iproduct = pr.iproduct-->
        <!--        JOIN payment pa-->
        <!--        ON pa.ipayment = pp.ipayment-->
        <!--        set pa.istatus = 1-->
        <!--        WHERE pa.ipayment = #{ipayment}-->

        update payment_status
        set istatus = 1
        where ipayment = #{ipayment}
    </update>

    <update id="upReview">
        update review
        set
        <if test="contents != null">
            contents = #{contents}
        </if>
        <if test="rating != null">
            ,rating = #{rating}
        </if>
        where ireview = #{ireview}
    </update>

    <delete id="delReview">
        DELETE
        from review
        WHERE ireview = #{ireview}
        AND iusers = #{iuser}
    </delete>

    <select id="selReIstatus">
        SELECT status
        FROM payment_info
        WHERE ipayment = #{ipayment} and iuser = #{iuser}
    </select>

    <select id="selReview">
        SELECT COUNT(ireview)
        FROM review
        WHERE iuser = #{iuser} and
        ipayment = #{ipayment}
    </select>
    <!--결제의 구매자와바이어인지 / 구매자인지 바이어인지 1이면 구매자 0판매자 -->
    <select id="selBuyRew">
        SELECT count(pa.ipayment) as isExists, if(pa.iusers = #{iuser}, 1, 0) as isBuyer
        from payment pa
        join product P
        ON p.iproduct = pa.iproduct AND pa.ipayment = #{ipayment}
        WHERE p.iusers = #{iuser} or pa.iusers = #{iuser};
    </select>

    <select id="selPatchRev">
        select iusers, ipayment
        FROM review
        WHERE ireview = #{ireview}
    </select>

    <!--평균 별점올리기-->

    <select id="selUser">
        SELECT P.iusers
        FROM product P
        JOIN payment pa
        ON p.iproduct = pa.iproduct
        WHERE PA.ipayment = #{ipayment}
    </select>

    <select id="selRat">
        SELECT COUNT(R.ireview) as countIre, U.rating
        from product P
        JOIN payment PA
        ON P.iproduct = PA.iproduct
        JOIN review R
        ON R.ipayment = PA.ipayment
        JOIN user U
        ON U.iuser = P.iusers
        AND R.rating IS NOT NULL and R.rating > 0
        WHERE P.iusers = #{iuser}
    </select>

    <update id="upRating">
        update user
        set rating = #{rating}
        where iuser = #{iuser}
    </update>
    <select id="sleDelBefor">
        SELECT rating
        FROM review
        WHERE ireview = #{ireview}
    </select>

</mapper>