<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team5.projrental.payment.review.PaymentReviewMapper">

    <insert id="insReview">
        INSERT INTO t_review
        set
        ibuyer = #{iuser}
        ,ipayment = #{ipayment}
        , contents = #{contents}
        , rating = #{rating}
    </insert>


    <update id="upProductIstatus">
        update t_product pr
        JOIN t_product_payment pp
        ON pp.iproduct = pr.iproduct
        JOIN t_payment pa
        ON pa.ipayment = pp.ipayment
        set pr.istatus = 1
        WHERE pa.ipayment = #{ipayment}
    </update>

    <update id="upReview">
        update t_review
        set
        contents = #{contents}
        ,rating = #{rating}
        where ireview = #{ireview}
    </update>

    <update id="delReview">
        update t_review
        set contents = null
        , rating =null
        where ireview = #{ireview}
    </update>

    <select id="selReview">
        SELECT COUNT(ireview)
        FROM t_review
        WHERE ibuyer = #{iuser}
        and ipayment = #{ipayment}
    </select>

    <select id="selBuyRew">
        SELECT ipayment
        FROM t_payment
        WHERE ibuyer = #{iuser}
    </select>

    <select id="selPatchRev">
        select ibuyer, ipayment
        FROM t_review
        WHERE ireview = 1;
    </select>
</mapper>