<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team5.projrental.payment.PaymentMapper">

    <insert id="insPayment" useGeneratedKeys="true" keyProperty="ipayment">
        insert into t_payment (ibuyer, payment_method, rental_start_date, rental_end_date, rental_duration,
        ipayment_method, price, code)
        values (#{ibuyer}, #{paymentMethod}, #{rentalStartDate}, #{rentalEndDate}, #{rentalDuration},
        #{ipaymentMethod}, #{price}, #{code}
    </insert>

    <insert id="insProductPayment">
        insert into t_product_payment (iproduct, ipayment)
        values #{iproduct}, #{ipayment}
    </insert>


    <select id="checkIuserAndIproduct">
        select PA.istatus, PA.rental_end_date as rentalEndDate, P.iuser as iSeller, PA.ibuyer as iBuyer
        from t_product_payment PPA
        join t_product P on P.iproduct = PPA.iproduct
        join t_payment PA on PA.ipayment = PPA.ipayment
        where PA.ipayment = #{ipayment} and PA.istatus != -1
    </select>

    <update id="delPayment">
        update t_payment set istatus = #{istatus} where ipayment = #{ipayment}
    </update>

    <select id="getPaymentList">
        select U.iuser, U.nick, U.stored_pic as storedPic, U.request_pic as requestPic,
        PA.ipayment, P.iproduct, PA.istatus, PA.rental_start_date as rentalStartDate, PA.rental_end_date as rentalEndDate,
        PA.rental_duration as rentalDuration, PA.price, P.deposit
        from t_payment PA
        join t_product_payment PP on PA.ipayment = PP.ipayment
        join t_product P on PP.iproduct = P.iproduct
        join t_user U on U.iuser =
        <if test="role = 1">
            P.iuser
        </if>
        <if test="role = 2">
            PA.ibuyer
        </if>
        <where>
            PA.istatus in (-3, -2, 0, 1, 2, 3)
            <if test="role = 1">
                and PA.ibuyer = #{iuser}
            </if>
            <if test="role = 2">
                and P.iuser = #{iuser}
            </if>
        </where>
    </select>
</mapper>