<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team5.projrental.user.UserMapper">
    <insert id="insUser" useGeneratedKeys="true" keyProperty="iuser">
        INSERT INTO t_user
        SET addr = #{addr}
        <if test="iauth > 0">
            , iauth = #{iauth}
        </if>
        , rest_addr = #{restAddr}
        , uid = #{uid}
        , upw = #{upw}
        , nick = #{nick}
        , phone = #{phone}
        , email = #{email}
        , y = #{y}
        , x = #{x}
    </insert>
    <insert id="insCom">
        INSERT INTO t_comp_info
        set comp_code = #{compCode}
        , comp_nm = #{compNm}
        , iuser = #{iuser}
    </insert>

    <!--    t_auth join 필요 없음 user 데이터만 가져오기.
         -->
    <select id="selSignin">
        SELECT u.iuser,u.iauth, a.auth, u.upw, u.uid, firebase_token AS firebaseToken
        FROM t_user u
        JOIN t_auth a
        ON a.iauth = u.iauth
        WHERE u.uid = #{uid}
    </select>

    <update id="patchToken">
        update t_user set firebase_token = #{firebaseToken} where iuser = #{iuser}
    </update>

    <update id="updUserFirebaseToken">
        UPDATE t_user
        SET firebase_token = #{firebaseToken}
        WHERE iuser = #{iuser}
    </update>

    <select id="selFindUid">
        SELECT uid, iuser, iauth
        FROM t_user
        WHERE phone = #{phone}
    </select>

    <update id="upFindUpw">
        UPDATE t_user
        SET upw = #{upw}
        WHERE phone = #{phone}
        and uid = #{uid}
    </update>

    <update id="changeUser">
        UPDATE t_user
        <set>
            <if test="nick != null and nick != '' ">
                nick =#{nick}
            </if>
            <if test="chPic != null and chPic != '' ">
                ,stored_pic =#{chPic}
            </if>
            <if test="upw != null and upw != '' ">
                ,upw =#{upw}
            </if>
            <if test="phone != null and phone != '' ">
                ,phone =#{phone}
            </if>
            <if test="addr != null and addr != '' ">
                , addr = #{addr}
                , y = #{y}
                , x = #{x}
            </if>
            <if test="restAddr != null and restAddr != '' ">
                ,rest_addr =#{restAddr}
            </if>
            <if test="email != null and email != '' ">
                ,email = #{email}
            </if>
        </set>
        where iuser = #{iuser}
    </update>

    <delete id="delUser">
        DELETE FROM t_user
        WHERE iuser = #{iuser}
        and uid = #{uid}
        and phone = #{phone}
    </delete>
    <select id="seldelUserPay">
        select P.iproduct, U.iuser, P.istatus as pistatus, PS.istatus
        from t_product P
        join t_user U on P.iuser = U.iuser and P.istatus IN (-1, -2)
        left join t_product_payment PP on PP.iproduct = P.iproduct
        left join t_payment PA on PA.ipayment = PP.ipayment
        left join t_payment_status PS on PA.ipayment = PS.ipayment and (P.iuser = 1 or PA.ibuyer = 1)
        where P.iuser = #{iuser}
        or PA.ibuyer = #{iuser}
        and PS.istatus IN (1, -1, -3)
    </select>


    <delete id="delUserProPic">
        DELETE FROM t_pics
        where iproduct in (
        <foreach collection="iproducts" item="iproduct" separator=",">
            iproduct
        </foreach>
        )
    </delete>

    <delete id="delLike">
        delete from t_like
        where iuser in (
        <foreach collection="iusers" item="iuser" separator=",">
            iuser
        </foreach>
        )
    </delete>

    <delete id="delRev">
        delete from t_review
        where iuser in (
        <foreach collection="iusers" item="iuser" separator=",">
            iuser
        </foreach>
        )
    </delete>

    <!--    채팅 개수 가져오기 -> 채팅 개수가 1이상일 경우만 수행,
                                채팅 삭제 개수가 채팅 개수와 동일하지 않으면 예외 발생-->
    <select id="getUserChatCount">
        select count(ichat) from t_chat_user where iuser = #{iuser}
    </select>
    <!--    -->
    <!--    채팅 삭제 (-1 인 곳만)-->
    <delete id="delUserChat">
        delete from t_chat_user where iuser = #{iuser} and istatus = -1
    </delete>
    <!--    -->
    <select id="selUser">
        SELECT y, x, nick, stored_pic as storedPic, phone, email, rating, addr, rest_addr AS restAddr, iauth
        FROM t_user
        WHERE iuser = #{iuser}
    </select>


    <!--예외처리-->

    <select id="selpatchUser">
        SELECT count(P.iproduct)
        FROM t_product P
        left JOIN t_product_payment PP
        ON P.iproduct = PP.iproduct
        left JOIN t_payment PA
        ON PP.ipayment = PA.ipayment
        left join t_payment_status PS
        on PA.ipayment = PS.ipayment
        WHERE P.istatus not IN (-1, -2)
        AND P.iuser = #{iuser} OR PA.ibuyer = #{iuser}
        and PS.istatus not IN (1, -1, -3)
    </select>

    <select id="checkUserUid">
        SELECT count(iuser)
        FROM t_user
        WHERE uid = #{obj}
    </select>

    <select id="checkUserNick">
        SELECT count(iuser)
        FROM t_user
        WHERE nick = #{obj}
    </select>

    <select id="getCompInf">
        SELECT comp_code as compCode, comp_nm as compNm FROM t_comp_info WHERE iuser = #{iuser}
    </select>

    <update id="changeCompInfo">
        update t_comp_info
        <set>
            <if test="compCode != null and compCode > 0">
                comp_code = #{compCode}
            </if>
            <if test="compNm != null">
                , comp_nm = #{compNm}
            </if>
        </set>
    </update>
</mapper>